body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{  
  border-collapse: collapse;
  width: 100%; 
  font-size: 12px;
  margin: auto;  
  border: 1px solid black; 
}

thead{
  background-color: rgb(61, 61, 54);;
  color: white;    
  height: 25px;
  text-align: center;    
}

tr, td ,th{
  border: 1px dotted gray ;
  text-align: left;  
}

tr:nth-child(even){
  background-color: #f4f9f7;
}

tr:hover{
  background-color: #bbbaba;
  color:black;
}
